
.agentFlexTime tbody tr:nth-child(4n+2){
    background: #FFFFFF;
}

.agentFlexTime tbody tr:nth-child(2n+2){
    background: #FAFAFC;
    border: solid #EFF0F5;
    border-width: 1px 0;
    
}

.agentFlexTime tbody .component-grid-tr:nth-child(2n+2) {
    background: #ffffff;
    border: none;
}