/* .shiftHoursDef .main * {padding: 0;} */

.shiftHoursDef .main{border-top:1px solid #eceef1;margin:0}
.shiftHoursDef .tabs{border-right: 1px solid #eceef1;    width: 16.35%;    padding: 16px 32px 24px 16px;    color: #242A41;}
.shiftHoursDef .tabs ul li{font-weight:400;font-size:13px;line-height:17px;cursor:pointer;padding: 7px 13px;border:1px solid transparent;}
.shiftHoursDef .tabs ul li span{margin-left:16px}
.shiftHoursDef .content-container {    width: 83.65%;  padding: 0;}
.shiftHoursDef .content{padding: 24px;color: #000; min-height: 763px;}
.shiftHoursDef .content h3 {    font-size: 16px;    line-height: 20px;    font-weight: 500;  }
.shiftHoursDef .tab-header{margin-bottom:38px}
.shiftHoursDef .tabs .active-li{color: #46b0e6;    background: #ecf8fe;    border-radius: 6px;}

.shiftHoursDef .date{margin-bottom: 40px; display: flex;}
.shiftHoursDef .date .start-date label{position: relative; top: 0;   }
.shiftHoursDef .date .start-date div:first-child{padding: 0;}
.shiftHoursDef .switches {margin-bottom:40px;display: flex;    align-items: center;}
.shiftHoursDef .switches .same{display: flex; align-items: center; margin-right: 30px;}
.shiftHoursDef .switches .custom{display: flex; align-items: center;}

.shiftHoursDef .switches .switch-text {margin-left:10px;font-size: 12px;    line-height: 14px;    color: #666666;}
.shiftHoursDef .css-1d3z3hw-MuiOutlinedInput-notchedOutline{ border: none; border-bottom: 1px solid #D8DDE4; border-radius: 0;      }
.shiftHoursDef .css-i4bv87-MuiSvgIcon-root{position: relative;    bottom: 5px;    font-size: 0.75em;}


.shiftHoursDef  .times {    display: flex;}


.shiftHoursDef  .start-date {width: 280px; margin-right: 45px;}
.shiftHoursDef .MuiFormControl-root.MuiTextField-root.css-1u3bzj6-MuiFormControl-root-MuiTextField-root{width:100%}


.shiftHoursDef .css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root{transform: none !important; color: #666666;}
.shiftHoursDef .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.Mui-focused.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{transform:none !important; color: #666666;}

.shiftHoursDef .css-1yq5fb3-MuiButtonBase-root-MuiIconButton-root{display: flex; align-items: center;}


.shiftHoursDef  .start-date .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root { top:-11px}


.shiftHoursDef .start-date .MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.Mui-focused.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{transform: none !important; top: -11px;}


.MuiFormLabel-root.MuiInputLabel-root.MuiInputLabel-formControl.MuiInputLabel-animated.MuiInputLabel-shrink.MuiInputLabel-outlined.MuiFormLabel-colorPrimary.MuiFormLabel-filled.css-1sumxir-MuiFormLabel-root-MuiInputLabel-root{left:-14px}



/*Toggle CSS*/
.switch {    position: relative;    display: inline-block;    width: 25px;    height: 14px;      }
.switch input {     opacity: 0;    width: 0;    height: 0;  }
.slider {    position: absolute;    cursor: pointer;    top: 0;    left: 0;    right: 0;    bottom: 0;    background-color: #ccc;    -webkit-transition: .4s;    transition: .4s;  }
.slider:before {    position: absolute;    content: "";    height: 14px;    width: 14px;    left: 0;    bottom: 0px;    background-color: #666666;    -webkit-transition: .4s;    transition: .4s;  }
input:checked+.slider:before {    background-color: #03C04A;      }
input:checked + .slider {    background-color: rgba(3, 192, 74, 0.3);  }  
input:focus + .slider {    box-shadow: 0 0 1px #03C04A;  }  
input:checked + .slider:before {    -webkit-transform: translateX(11px);    -ms-transform: translateX(11px);    transform: translateX(11px);  }  
.slider.round {    border-radius: 34px;  }  
.slider.round:before {    border-radius: 50%;  }




@media only screen and (max-width: 1200px) {
        .shiftHoursDef .tabs {width: 100%}
        .shiftHoursDef  .tabs ul{display:flex}
        .shiftHoursDef .tabs ul li span{margin-left:8px}


    }